*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

li{
  list-style-type: none;
}

h1{
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
}

.container{
  width: 80%;
  height: 100%;
  margin: auto;
  /* background-color: white; */
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

header{
  width: 100%;
  background-color: rgb(15, 53, 98);
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}

.header-nav{
  height: 80px;
  padding-top: 10px;

  /* background-color: yellow; */
}

.header-nav-logo{
  width: 15%;
  height: 100%;
  position: relative;

  /* background-color: lightblue; */
}

.header-nav-logo img{
  height: 70%;
  position: absolute;
  top: 40%;
  left: 0;
  transform: translatey(-50%);
}

.header-nav-menu{
  width: 45%;
  height: 100%;

  /* background-color: green; */
}

.header-nav-menu li, .header-nav-button li{
  display: inline-block;
  line-height: 80px;
  padding-right: 10px;
}

.header-nav-button{
  width: 40%;
  height: 100%;
  text-align: right;

  /* background-color: violet; */
}

.jumbotron{
  height: 470px;
  position: relative;

  /* background-color: pink; */
}

.jumbotron .jumbotron-text{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}
