*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

li{
  list-style-type: none;
}

h1{
  margin-bottom: 40px;
  font-size: 50px;
  color: white;
}

.btn-blue{
  padding: 5px 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.btn-green{
  border-radius: 5px;
  background-color: rgb(94, 172, 0);
}
.btn-little{
  padding: 5px;
}

.btn-large{
  padding: 20px;
}

.container{
  width: 80%;
  height: 100%;
  margin: auto;
  /* background-color: white; */
}

.float-left{
  float: left;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

header{
  width: 100%;
  background-color: rgb(15, 53, 98);
  background-image: url('../img/background-header.png');
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 110% 110%;
}

.header-nav{
  height: 80px;
  padding-top: 10px;
  font-size: 12px;

  /* background-color: yellow; */
}

.header-nav-logo{
  height: 100%;
  position: relative;

  /* background-color: lightblue; */
}

.header-nav-logo img{
  height: 70%;
  margin-top: 5px;
  margin-right: 25px;
}

.header-nav-menu{
  width: 45%;
  height: 100%;

  /* background-color: green; */
}

.header-nav-menu li, .header-nav-button li{
  display: inline-block;
  line-height: 80px;
  padding-right: 10px;
}

.header-nav-button{
  width: 40%;
  height: 100%;
  text-align: right;

  /* background-color: violet; */
}

.jumbotron{
  height: 470px;
  position: relative;

  /* background-color: pink; */
}

.jumbotron .jumbotron-text{
  width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translatey(-50%);
}

/* .scuole{
  width: 100%;
  height: 120px;
  border-color: lightgrey;
  text-align: center;
} */

.scuole{
  height: 120px;
  background-color: lightgrey;
  position: relative;
}

.scuole .scuole-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
}
.scuole-text h2{
  padding-bottom: 15px;
}

.scuole-text h4{
  color: grey;
}

.programma{
  /* background-color: lightblue; */
  text-align: center;
}

.programma .container{
  /* background-color: pink */
}

.box{
  width: 33.33%;
  /* background-color: green; */
  padding: 30px 60px;
}

.Immagine-programma{
  height: 150px;
  text-align: center;
  margin-bottom: 20px;
}

.Immagine-programma img{
  height: 100%
}

.programma h2{
  color: rgb(94, 172, 0);
}

.programma hr{
  width: 25%;
  margin: 20px auto;
}

.programma p{
  color: lightgrey;
}

.livello{
  height: 425px;
  /* background-color: pink; */
  padding: 30px 0;
}

.livello .immagine-livello{
 width: 50%;
 height: 100%;
 text-align: center;
}

.immagine-livello img{
  height: 100%;

}

.livello .livello-text{
  width: 50%;
  height: 100%;
  padding-right: 260px;
  text-align: left;
}

.livello .livello-text h2, .livello .livello-text h4{
  margin-bottom: 10px;
}

.livello .livello-text h2{
  font-size: 35px;
}

.livello .livello-text h4{
  font-size: 18px;
  color: lightgrey;
}

.livello .livello-text a{
  font-size: 12px;
  color: blue;
}
